In [34]:
import pandas as pd

In [35]:
import numpy as np


# first dataset

In [36]:
df1=pd.read_csv("result.csv")

In [64]:
df1.head(5)

,Unnamed: 0,source,label,text
0,0,coronavirusmedicalkit.com,0,"You just need to add water, and the drugs and ..."
1,1,RudyGiuliani,0,Hydroxychloroquine has been shown to have a 10...
2,2,CharlieKirk,0,Fact: Hydroxychloroquine has been shown to hav...
3,3,JoanneWrightForCongress,0,The Corona virus is a man made virus created i...
4,4,JoanneWrightForCongress,0,Doesnâ€™t @BillGates finance research at the W...

In [38]:
df1.shape

(13851, 4)

In [43]:
df1['label'].value_counts()

0    11215
1     2636
Name: label, dtype: int64

# 2nd dataset

In [44]:
df2=pd.read_csv("fake_new_dataset.csv")

In [65]:
df2.head(5)

,Unnamed: 0,title,text,subcategory,label
0,0,FACEBOOK DELETES MICHIGAN ANTI-LOCKDOWN GROUP ...,Facebook has shuttered a popular group for Mic...,false news,0
1,1,Other Viewpoints: COVID-19 is worse than the flu,We can now officially put to rest all comparis...,true,1
2,2,Bermuda's COVID-19 cases surpass 100,The Ministry of Health in Bermuda has confirme...,true,1
3,3,Purdue University says students face 'close to...,"Purdue University President Mitch Daniels, the...",partially false,0
4,4,THE HIGH COST OF LOCKING DOWN AMERICA: “WE’VE ...,Locking down much of the country may have help...,false news,0

In [46]:
df1['label'].value_counts()

0    11215
1     2636
Name: label, dtype: int64

# 3rd dataset

In [47]:
df3=pd.read_csv("convertcsv.csv")

In [66]:
df3.head(5)

,title,text,source,label
0,Due to the recent outbreak for the Coronavirus...,"You just need to add water, and the drugs and ...",coronavirusmedicalkit.com,Fake
1,NaN,Hydroxychloroquine has been shown to have a 10...,RudyGiuliani,Fake
2,NaN,Fact: Hydroxychloroquine has been shown to hav...,CharlieKirk,Fake
3,NaN,The Corona virus is a man made virus created i...,JoanneWrightForCongress,Fake
4,NaN,Doesn’t @BillGates finance research at the Wuh...,JoanneWrightForCongress,Fake

In [49]:
df3['label'].value_counts()

TRUE    584
Fake    345
fake    230
Name: label, dtype: int64

In [50]:
df3 = df3.replace({'label': {'TRUE':"1"}})

In [51]:
df3['label'].value_counts()

1       584
Fake    345
fake    230
Name: label, dtype: int64

In [52]:
frames=[df2,df3]

In [53]:
result=pd.concat(frames)

In [54]:
result.head(1000)

,Unnamed: 0,title,text,subcategory,label,source
0,0.0,FACEBOOK DELETES MICHIGAN ANTI-LOCKDOWN GROUP ...,Facebook has shuttered a popular group for Mic...,false news,0,NaN
1,1.0,Other Viewpoints: COVID-19 is worse than the flu,We can now officially put to rest all comparis...,true,1,NaN
2,2.0,Bermuda's COVID-19 cases surpass 100,The Ministry of Health in Bermuda has confirme...,true,1,NaN
3,3.0,Purdue University says students face 'close to...,"Purdue University President Mitch Daniels, the...",partially false,0,NaN
4,4.0,THE HIGH COST OF LOCKING DOWN AMERICA: “WE’VE ...,Locking down much of the country may have help...,false news,0,NaN
...,...,...,...,...,...,...
995,879.0,Inc Corona Virus Hits Turkish Parliament,to avoid punishment men who have sex with u-18...,false news,0,NaN
996,880.0,Chinese Movie Theaters Are Shutting Down Due t...,Thousands of movie theaters in China have clos...,true,1,NaN
997,881.0,County takes precautions against corona virus,Otero and Crowley County Health Director Rick ...,true,1,NaN
998,882.0,What is the Corona Virus?,Bill Gates was probably funding groups that we...,true,1,NaN
999,883.0,Shipping industry responds to 2019-nCoV threat,"Costa Venezia with 5,000 passengers onboard wa...",true,1,NaN

In [55]:
result["label"].value_counts()

1       2061
0       1058
1        584
Fake     345
fake     230
Name: label, dtype: int64

In [56]:
result["label"]= result["label"].astype(str)

In [57]:
result["label"].value_counts()

1       2645
0       1058
Fake     345
fake     230
nan        5
Name: label, dtype: int64

In [58]:
result.label[result["label"]=="fake"]

33      fake
44      fake
115     fake
116     fake
117     fake
        ...
1013    fake
1014    fake
1015    fake
1016    fake
1042    fake
Name: label, Length: 230, dtype: object

In [59]:
result = result.replace({'label': {'Fake':"0"}})

In [60]:
result = result.replace({'label': {'fake':"0"}})

In [61]:
result["label"].value_counts()

1      2645
0      1633
nan       5
Name: label, dtype: int64

In [62]:
result.drop(result[result['label'] == "nan"].index, inplace=True)

In [63]:
result["label"].value_counts()

1    2644
0    1629
Name: label, dtype: int64